[2015-04-21 22:12] Sailren opened #1 "startup crash"
this one happens at startup: http://paste.ubuntu.com/10863607/

[2015-04-22 00:06] OreCruncher commented on #1
Interesting.  I made a change that should address in the v0.2.2 release which can be found here: https://github.com/OreCruncher/ThermalRecycling/releases/tag/v0.2.2.  Give it a try and let me know if it solves the issue for you.

[2015-04-22 16:07] Sailren commented on #1
i had set allow recipe overwrite to true in thermal expansion config for the pulverizer, is this important?

[2015-04-22 16:27] OreCruncher commented on #1
Not sure exactly what that option does under the hood, but on the surface it allows a mod to overwrite an _existing_ recipe.  My mod does not do that.  When I work on ThermalRecycling I have the TE config file at defaults.

Have you had a chance to try the new jar to see if that crash goes away?

[2015-04-22 16:29] Sailren commented on #1
not yet, but i will do soon

[2015-04-25 15:21] Trixz2018 opened #2 "Build 0.2.3 start up crash"
http://pastebin.com/t1ULGcvq

[2015-04-25 19:30] medsal15 opened #3 "OreDictionnary compatibility"
I have at least 4 different copper blocks (Mariculture, TE4, RC and TiC) and 3 different tin blocks (TE4, RC and TiC). When I craft a copper/tin block it gives me the RC version (which can't be used to make bronze blocks).

[2015-04-25 19:35] OreCruncher commented on #2
Thanks for the report.  I will take a look.

[2015-04-25 19:46] OreCruncher commented on #3
Not sure what are you asking.  The mod does not alter the base recipe of creating copper or tin blocks.  It can use those blocks in an induction smelter to make Tinker's Alloy Blocks (which is the Thermal Foundation version of bronze).

If you want to convert those metal blocks to another form you can take a look at MineFactory Reloaded's Unifier.

[2015-04-25 19:59] OreCruncher commented on #2
I made a quick change that should address your problem.  Please try v0.2.4.  https://github.com/OreCruncher/ThermalRecycling/releases/tag/v0.2.4

[2015-04-26 00:47] Trixz2018 commented on #2
so far the newest build works, time to address other issues and thank you for helping me out and also thank for such an amazing mod

[2015-04-26 00:49] #2 closed, assigned to OreCruncher

[2015-04-26 04:24] OreCruncher commented on #2
Thank you :)

[2015-04-26 04:26] medsal15 commented on #3
I just want to be able to use non-TE4 copper/tin blocks for the bronze block recipe

[2015-04-28 04:35] OreCruncher commented on #3
You should be able to use other copper/tin blocks in the induction smelter.  It works for me with Railcraft blocks.

[2015-04-28 04:36] OreCruncher commented on #1
Haven't heard back and I have not seen other reports related to this error.  If you are still having an issue let me know.

[2015-04-28 04:36] #1 closed, assigned to OreCruncher

[2015-04-28 11:40] Sailren commented on #1
i cant remember what i tried to do there, need to figure that out

[2015-05-03 00:01] OreCruncher commented on #3
Closing due to inactivity.  If this is truly a bug in the mod let me know.

[2015-05-03 00:01] #3 closed, assigned to OreCruncher

[2015-05-08 07:35] BakermanLP opened #5 "Newest version 0.3.3ALPHA crashes on startup"
Here is the crash report:

---- Minecraft Crash Report ----
// I let you down. Sorry :(

Time: 5/8/15 9:09 AM
Description: There was a severe problem during mod loading that has caused the game to fail

cpw.mods.fml.common.LoaderException: java.lang.NoSuchMethodError: java.lang.String.join(Ljava/lang/CharSequence;[Ljava/lang/CharSequence;)Ljava/lang/String;
    at cpw.mods.fml.common.LoadControlle

[2015-05-08 12:08] OreCruncher commented on #5
Caused by: java.lang.NoSuchMethodError: java.lang.String.join(Ljava/lang/CharSequence;[Ljava/lang/CharSequence;)Ljava/lang/String

Hmmm.....I will take a look

[2015-05-08 12:25] OreCruncher commented on #5
Yep.  My bad.  String.join was added in Java 8 and wasn't available in Java 7.  I will get it cleaned up and post a new build in a couple hours.

[2015-05-08 12:51] OreCruncher commented on #5
Posted v0.3.3.1 to address this issue.  Let me know if it works.  You can get the jar from the Release section of this project site or on Curse Forge.

[2015-05-10 12:45] silvertoken opened #7 "Server Crash Missing Icons Version 3.4"
Version 3.4 will not start as a server mod with RR3 pack.  I reduced the mods down to only thermal expansion and thermal recycling and updated to 3.4 and had this crash below.

http://pastebin.com/DwQ5Z83r

[2015-05-10 13:00] OreCruncher commented on #7
Thanks for the report.  I will take a look.

[2015-05-10 13:27] knoxhack commented on #7
I'm having the same problem http://pastebin.com/DF22XKt2 on RR3 version 3.2.6.1 all mods enable except The Erebus.

[2015-05-10 13:49] OreCruncher commented on #7
I made a fix - can be found here: https://github.com/OreCruncher/ThermalRecycling/releases/tag/v0.3.4.1

Will be out on Curse Forge soon.

[2015-05-10 14:33] silvertoken commented on #7
Tested it with my rr3 server and it starts now with no crashes and I was able to connect thanks!

[2015-05-10 14:33] #7 closed, assigned to nobody

[2015-05-11 09:36] iarspider opened #8 "NPE Log spam (0.3.4.1)"
The mod spams the log with NPE error in NEI Filtering: http://pastebin.com/9hBYB6Rw

[2015-05-11 11:56] OreCruncher commented on #8
What version of NEI?

[2015-05-11 11:58] iarspider commented on #8
NEI version 1.0.4.106. Full mod list here: http://pastebin.com/m9kuxCX7

[2015-05-11 12:05] OreCruncher commented on #8
Thanks. I should have a patch out in a couple hours.

[2015-05-11 12:25] OreCruncher commented on #8
Ok.  Try this release: https://github.com/OreCruncher/ThermalRecycling/releases/tag/v0.3.4.2.  If it works for you then I will push out.  I still need to dig in and find out which item in the inventory is causing the difficulty.  Let me know if it works.

[2015-05-11 12:26] Staegrin opened #9 "NPE when going to creative search"
So after updating thermal recycling from 0.3.4 to 0.3.4.1
I went to my testworld and went to the creative search and the game crashed.
crashlog:
http://pastebin.com/xTfpK6LQ

[2015-05-11 12:34] OreCruncher commented on #9
See this issue: https://github.com/OreCruncher/ThermalRecycling/issues/8.  Looks the same.

[2015-05-11 12:47] Staegrin commented on #8
New version seems to have fixed the NPE with creative search

[2015-05-11 12:50] iarspider commented on #8
Looks like you've fixed it.

[2015-05-11 12:50] #8 closed, assigned to OreCruncher

[2015-05-11 12:55] Staegrin commented on #9
Thanks for the quick fix.

[2015-05-11 12:55] #9 closed, assigned to nobody

[2015-05-11 12:56] OreCruncher commented on #5
Closing due to inactivity.  No further reports from the field.  If it turns out the problem persists please reopen.

[2015-05-11 12:56] #5 closed, assigned to OreCruncher

[2015-05-11 13:02] Staegrin opened #10 "NPE when opening scrapboxes"
Sorry to bother you again. Got a new crash with the latest version 0.3.4.2

crashlog:
http://pastebin.com/cdweGbE3

[2015-05-11 13:10] OreCruncher commented on #10
No bother. :)  I appreciate that you have reported it.  I will take a look.

EDIT:  Looks like the problem will happen sporadically when getting a potion effect from a scrap box.  The derp is on my end - need to rearrange logic.

[2015-05-11 14:21] OreCruncher commented on #10
Find a release with a fix here: https://github.com/OreCruncher/ThermalRecycling/releases/tag/v0.3.4.3.  Marking it pre-release.  Depending I will update CurseForge with an official version later today.  Let me know if it helps address your issue.

[2015-05-11 15:38] Staegrin commented on #10
Works perfectly. No crashes with any of the scapboxes

[2015-05-11 15:38] #10 closed, assigned to nobody

[2015-05-11 15:51] Staegrin opened #11 "core:extraction doesn't have recipe"
Sorry to bother you yet again. Just noticed that the core extraction in version 3.4.3 doesn't have a recipe.

[2015-05-11 17:18] OreCruncher commented on #11
I updated the v0.3.4.3 release in the release section with applicable fixes: https://github.com/OreCruncher/ThermalRecycling/releases/tag/v0.3.4.3

[2015-05-12 05:55] BakermanLP commented on #5
Thank you, works now!

[2015-05-15 12:45] OreCruncher commented on #11
Closing due to inactivity.  If the problem still persists let me know.

[2015-05-15 12:45] #11 closed, assigned to OreCruncher

[2015-05-15 16:44] WeCodingNow opened #12 "[Suggestion] 100% retrieve rate"
How about adding an option to get 100% of items used in crafting of the item if using Core:Decompostion? You can make it a configurable option or add a new core, which is upgraded Decopmpsition core. Also, returning ingots instead of the dust would also be sweet. Also a configurable or ingame option.

[2015-05-15 16:56] WeCodingNow opened #13 "Gears and TiC"
Newer version of TiC allow for creating of gears through pouring 4 ingots worth of liquid metal onto liquid cast, thus you dont have to waste an additional iron ingot in crafting it. However, your mod only allows to decompose gears into 4 ingots of metal PLUS an additional iron ingot.

[2015-05-15 18:28] OreCruncher commented on #13
It would.  The mod uses the internal Minecraft crafting recipes to "reverse" the process of crafting.  Does TiC have it's own gear type?

[2015-05-15 18:33] OreCruncher commented on #12
I thought about having a upgrade core that gives a better success rate when decomposing.  Not sure about 100% - need to think on that.  The other hard part is figuring out the ingredient list - maybe involve a nether star if it is going to be lossless.

As for ingots instead of dust the process has about an equal chance at giving you a dust for an ingot vs. an ingot.  Maybe it could be tied to an

[2015-05-15 18:58] WeCodingNow commented on #13
TiC has its own gear crafting recipe. It uses only 4 ingots of metal.

[2015-05-15 19:08] OreCruncher commented on #13
Right - but the gear it produces - is it a TiC item?

[2015-05-15 19:35] WeCodingNow commented on #13
Nope. TiC smeltery makes Thermal Foundation gears.

[2015-05-15 20:05] OreCruncher commented on #13
Grumble.  Thanks.  I will need to think on this one.

[2015-05-15 22:58] OreCruncher commented on #13
Made a change.  It can be picked up here. https://github.com/OreCruncher/ThermalRecycling/releases/tag/v0.3.4.4.  Let me know if it works for you.

[2015-05-16 07:27] WeCodingNow commented on #13
Oh yes! This is awesome! Now, deconstructing gears works like a charm!

[2015-05-16 11:18] OreCruncher commented on #13
:)

[2015-05-16 11:18] #13 closed, assigned to OreCruncher

[2015-05-16 17:13] OreCruncher commented on #12
I produced an ALPHA release with functionality that is being discussed.  Find it here: https://github.com/OreCruncher/ThermalRecycling/releases/tag/v0.3.5ALPHA

[2015-05-18 13:08] WeCodingNow commented on #12
I just started checking out your alpha release. I think that it is great that you can get more items back from recycling if you upgrade your core! However, it seems to me that there are some bugs.
You see, it is possible to upgrade every decomposition core of one tier into decomposition core of another tier, even it's own.
Also, the retrieve rate for recycling items with resonant decomposition cor

[2015-05-18 13:24] WeCodingNow opened #14 "[DUPE] Iron Chests"
Iron, Golden and Diamond chests have two recipes(three, if counting upgrades). For instance, you can craft iron chest using 8 iron ingotsand a chest, or using 4 iron ingots, 4 glass and a copper chest(which, in turn, is crafted from 8 copper ingots and a chest).
However, recycling said chests returns the contents of the first crafting recipe, which leads to a duping mechanic. Well, you get less it

[2015-05-18 18:01] OreCruncher commented on #12
Actually it is about 78.5% keep rate if it isn't a dustable item if using a Resonant core.  For example, an Iron Ingot could be turned into dust, so it is 68.4% keep/10.1% dust.  Something like a bucket can't be turned into dust, so the dust chance is folded into the keep chance to get the 78.5%.

As for the 100% return rate I was thinking of another tier of core beyond resonant.  Not sure what th

[2015-05-18 20:43] OreCruncher commented on #12
Check out https://github.com/OreCruncher/ThermalRecycling/releases/tag/v0.3.5.1ALPHA

[2015-05-19 15:39] WeCodingNow commented on #12
Yay! Recycling items with 100% success rate seems to work alright. And the recipe sure is fair, in my opinion. However, I have found some bugs, but I am going to open some new issues for those, because they don't seem to be related to this new mechanic.

[2015-05-19 16:00] WeCodingNow opened #15 "[DUPE] Impulse Itemducts"
Impulse Itemducts(both normal and opaque versions) from Thermal Dynamics are getting recycled incorrectly - recycling 6 Impulse Itemducts returns 6 opaque Impulse Itemducts and Hardened Glass, while recycling 6 opaque Impulse Itemducts returns 6 Impulse Itemducts and a lead ingot. This leads to a loop, in which you can dupe hardened glass and lead ingots.
![2015-05-19_20 26 20](https://cloud.githu

[2015-05-19 16:01] WeCodingNow opened #16 "Format Error: {0}%"
![2015-05-19_20 26 07](https://cloud.githubusercontent.com/assets/9677869/7707653/41cf4d8e-fe6a-11e4-8dbf-df719dbe9457.png)
ThermalRecycling-1.7.10-0.3.5.1ALPHA

[2015-05-19 18:39] OreCruncher commented on #16
Supposed to be the current progress expressed as a %.  Cosmetic, though annoying. :)  I will fold into the next drop.

[2015-05-19 19:00] OreCruncher commented on #15
Good find.  Only way I can think of to reasonably handle is to block the decomp recipes for these pipes.  If you were to then stick them in the recycler it would scrap them.  Of course, chances are you would want to run it through a liquid transposer to remove the energized glowstone, which then would turn them into regular itemducts which can be recycled fine.

[2015-05-19 21:06] OreCruncher commented on #16
Fixed for v0.3.5.2ALPHA: https://github.com/OreCruncher/ThermalRecycling/releases/tag/v0.3.5.2ALPHA

[2015-05-19 21:07] OreCruncher commented on #15
Fixed for v0.3.5.2ALPHA: https://github.com/OreCruncher/ThermalRecycling/releases/tag/v0.3.5.2ALPHA

[2015-05-19 21:07] OreCruncher commented on #14
Decided to block the chest recipes to avoid the dupe loop.  Fixed for v0.3.5.2ALPHA: https://github.com/OreCruncher/ThermalRecycling/releases/tag/v0.3.5.2ALPHA

[2015-05-20 20:04] mrdeadlocked opened #17 "Server Crash"
---- Minecraft Crash Report ----
// Ouch. That hurt :(

Time: 5/20/15 7:59 PM
Description: Exception in server tick loop

java.lang.NoSuchMethodError: net.minecraft.potion.Potion.func_76398_f()Z
    at org.blockartistry.mod.ThermalRecycling.items.scrapbox.PlayerPotionEffect.apply(PlayerPotionEffect.java:78)
    at org.blockartistry.mod.ThermalRecycling.items.scrapbox.UseEffect.triggerEffect(UseEff

[2015-05-20 22:07] OreCruncher commented on #17
Wonder if it is related to Forge 1403.  ThermalRecycling is built against 1291, the most current _recommended_ Forge release at the current time.

[2015-05-20 22:53] OreCruncher commented on #17
Found the issue.  Will be folding in a fix for tonight/tomorrow build.  Until then avoid using the scrapbox when running a server backend.  Private worlds should be fine.

[2015-05-20 23:19] OreCruncher commented on #17
Fix is in https://github.com/OreCruncher/ThermalRecycling/releases/tag/v0.3.5.3ALPHA if you want to pick it up.  This version is destined for release barring further ALPHA related issues.

[2015-05-21 12:50] OreCruncher opened #18 "Looking for translators to, well, translate!"
I need the current translations for Brazilian and Simplified Chinese updated, and I also need other languages provided.  The translation work needs to be done by someone who is fluent in the language.  I do not want translations from tools such as Google Translate.

If you are willing to help please respond to this post to minimize duplicate work.  Submit a pull request with the appropriate langua

[2015-05-22 14:45] OreCruncher commented on #12
v0.3.5.4 has been released and includes these changes.  Closing.

[2015-05-22 14:45] #12 closed, assigned to OreCruncher

[2015-05-22 14:46] OreCruncher commented on #14
v0.3.5.4 has been released and includes these changes.  Closing.

[2015-05-22 14:46] #14 closed, assigned to OreCruncher

[2015-05-22 14:46] OreCruncher commented on #15
v0.3.5.4 has been released and includes these changes.  Closing.

[2015-05-22 14:46] #15 closed, assigned to OreCruncher

[2015-05-22 14:46] OreCruncher commented on #16
v0.3.5.4 has been released and includes these changes.  Closing.

[2015-05-22 14:46] #16 closed, assigned to OreCruncher

[2015-05-22 14:46] OreCruncher commented on #17
v0.3.5.4 has been released and includes these changes.  Closing.

[2015-05-22 14:46] #17 closed, assigned to OreCruncher

[2015-05-23 21:33] Staegrin opened #19 "Golden apples"
Golden apples are made by using 8 gold ingots and an apple. Recycling that golden apple gets you 8 gold nuggets back.

Not sure if this is intentional?

[2015-05-23 21:42] OreCruncher commented on #19
The pulverizer recipe?  Yeah, that's a bug.  Also noticed that the both versions of the golden apple are considered food items thus the decomp recipes are not available in the Thermal Recycler.  Need to address that.

[2015-05-23 21:43] Staegrin commented on #19
Glad to be of help.

[2015-05-23 21:48] OreCruncher commented on #19
Thank _you_.  I appreciate the fact that you report what you find.

[2015-05-23 22:23] Staegrin opened #20 "Suggestion: block of scrap & recycling debris"
To make block of scrap & recycling debris useful I would suggest making them have a fuel value.

Example: I've added a fuel value of 200 for recycling debris and 2000 for a block of scrap (same logic as a coal block).

[2015-05-23 22:25] OreCruncher commented on #20
I was having similar thoughts, though I am not entirely sure if I want to go the standard furnace fuel route with them.

[2015-05-23 22:26] Staegrin commented on #20
I'll keep the minetweaker settings until you decide. Just wanted to be able to do something useful with them.

I also add smelting recipes for ores that have no automation options. Just breaking them automaticly still creates too many item entities.

[2015-05-23 22:29] OreCruncher commented on #20
Can you clarify the smelting recipes comment?

[2015-05-23 23:18] Staegrin commented on #20
Several mods have ores that don't have a way to be processes apart from breaking them with pickaxe/block breakers. I use minetweaker to make smelting recipes for them so these ores are easier to automate the processing of.

Examples:
all the gem ores (ruby, sapphire...) in blue power
both the browncoal ores from the browncoal ore mod
Sticky ore from aroma1997's dimensional world
root blocks from t

[2015-05-24 03:19] OreCruncher commented on #20
Thought about the fuel.  I think I will make it burnable.  No sense in making yet another fuel/power system when there are several good ones out there already.

[2015-05-24 13:32] OreCruncher commented on #20
https://github.com/OreCruncher/ThermalRecycling/releases/tag/v0.3.5.5

[2015-05-24 13:32] OreCruncher commented on #19
https://github.com/OreCruncher/ThermalRecycling/releases/tag/v0.3.5.5

[2015-05-24 15:12] Staegrin commented on #20
Seems to work perfectly. Keep up the good work.

[2015-05-24 15:12] #20 closed, assigned to OreCruncher

[2015-05-24 15:13] Staegrin commented on #19
Seems to be fully fixed. Keep up the good work.

[2015-05-24 15:13] #19 closed, assigned to OreCruncher

[2015-05-24 17:08] OreCruncher opened #21 "Change to how NONE scrap value items are processed as a component"
First off, by component I mean an item that is part of the output when processing an item.  For example, if a dynamo is being scrapped, the gears are considered components.

Currently a lot of Vanilla items are scrubbed from the output recipes for the decomposition core.  The reason for this was related to how NONE scrap items were processed.  These items had a chance of producing Poor Scrap, and

[2015-05-25 22:02] OreCruncher commented on #21
https://github.com/OreCruncher/ThermalRecycling/releases/tag/v0.3.6ALPHA

[2015-05-25 22:02] #21 closed, assigned to OreCruncher

[2015-05-29 18:05] OreCruncher opened #22 "[v0.3.6.1ALPHA] Missing vanilla stair and slab recipe blocks"
Internal tables are not blocking vanilla stair and slab reverse crafting lookup.  This will be fixed in the next drop.

EDIT: Turns out there are more items missing than stairs and slabs.  Since it is now possible to get some scrap from NONE items I need to block reverse some of the basic reverse recipes to mitigate cheap resources -> scrap.

[2015-05-30 21:42] OreCruncher commented on #22
v0.3.6.2ALPHA released.

[2015-05-30 21:42] #22 closed, assigned to OreCruncher

[2015-06-06 12:33] HanatakeYurii commented on #18
I can do french if you want (I'm Belgian, it's my first language, no Google Trad)

EDIT: Done!

[2015-06-06 12:36] HanatakeYurii opened #23 "Support for Redstone Armory"
I would suggest you to add support for Redstone Armory.
If you don't know it's an addon for Redstone Arsenal that add a tier of tools with specific behavior when turned on made in a new material named Gelid Enderium.
it's made by TehNut & TombenPotter and is active.

[2015-06-06 15:39] OreCruncher commented on #18
Thank you!

[2015-06-07 13:30] OreCruncher commented on #23
https://github.com/OreCruncher/ThermalRecycling/releases/tag/v0.3.8.3

[2015-06-07 13:30] #23 closed, assigned to OreCruncher

[2015-06-07 17:04] HanatakeYurii commented on #23
Thanks :)

[2015-06-11 19:18] dirtyfargo opened #25 "Issue with Buildcraft 7 and Buildcraft Additions"
Thermal Recycling Version: 0.3.8.4

With the mods below installed, Thermal Recycling is causing incorrect Assembly table recipes in Buildcraft. For example, while normally you would need 1 iron and 1 redstone for an iron chipset, with thermal recycling installed, it actually requires a full stack of iron to produce one iron chipset. Also, the scroll wheel functionality of placing items into the As

[2015-06-11 22:35] OreCruncher commented on #25
Thanks for letting me know.  This is strange because recycling doesn't go out of it's way to manipulate the BC recipes - it just reads them and makes necessary copies.  Of course, the BC 7.x API did change so maybe there are some unintended side effects.  I will take a look.

[2015-06-11 23:17] OreCruncher commented on #25
Found a way to make things work.  Going to pull together an ALPHA build - did some other cleanup/changes for BC 7.0.x support.

[2015-06-11 23:26] dirtyfargo commented on #25
Awesome thanks! I'll be sure to test it out when it's released =)

[2015-06-11 23:30] OreCruncher commented on #25
Here's a link to the ALPHA build.  Gonna be a little bit before it's out on Curse.  https://github.com/OreCruncher/ThermalRecycling/releases/tag/v0.3.9ALPHA

[2015-06-11 23:41] dirtyfargo commented on #25
Everything seems all good and fixed, Assembly table working as it should again for me! :)

[2015-06-12 00:00] OreCruncher commented on #25
Cool!  Let me know if you encounter anything else with BC 7.0.x

[2015-06-12 00:00] #25 closed, assigned to OreCruncher

[2015-06-12 00:08] dirtyfargo commented on #25
Well, client side Alpha 0.3.9 runs fine for me, but server side, with my modpack, I am now getting a crash:
http://pastebin.com/itqrVFQN
Is this because it is not an 'official version' and I should wait to test it out server side ? :)

[2015-06-12 02:23] dirtyfargo opened #27 "Thermal Recycling 0.3.9Alpha Server Side Crash"
Crash on server start up.
Crash Report:
http://pastebin.com/J83gRfUy
Only happens server side, with only these mods alongside it:
Cofh Core 3.0.2-262
Thermal Foundation 1.0.0-81
Thermal Expansion 4.0.1-182
Forge: 10.13.4.1448

[2015-06-12 05:45] OreCruncher commented on #25
No.  The issue is that some rendering code for some new things I am working on made it's way in.  I need to do some refactor work.  Should have another drop Friday.

[2015-06-12 12:31] OreCruncher commented on #27
Here is an update: https://github.com/OreCruncher/ThermalRecycling/releases/tag/v0.3.9.1ALPHA

[2015-06-12 16:15] dirtyfargo commented on #27
All working in this update =) Thanks for the great mod and quick fixes!

[2015-06-12 20:32] OreCruncher commented on #27
No problem.  Let me know if you encounter more issues or have suggestions.

[2015-06-12 20:32] #27 closed, assigned to OreCruncher

[2015-06-17 09:52] grompe opened #29 "Balance observations & feedback"
Having played with this mod for a while, I have some observations to share.

These are valid for version 1.7.10-0.3.9.4ALPHA of ThermalRecycling.
- It's not obvious what the asterisk in the scrap value means.
  Perhaps it would be best to remove the tooltip for non-recycleable items instead.
- Too many of XP bottles are generated when recycling enchanted items.
  This makes fishing (and especially

[2015-06-17 11:45] OreCruncher commented on #29
- I have been thinking about the asterisk.  The item still has scrap value as a component, but not cannot be directly inserted into a recycler.  Maybe I should add an additional line of text rather than have an asterisk.  I was trying to save some screen realestate, but in this case it may be better to be more explicit.
- XP bottles - any suggestion how much it should be reduced?  Fishing is a bit

[2015-06-17 11:59] OreCruncher opened #30 "Handle shift+click of core into recycler in a better way"
Currently if a core is shift clicked into a recycler it goes into the input slot and gets recycled.  Should go into the core slot instead.

[2015-06-17 12:15] OreCruncher opened #31 "[v0.3.9.4ALPHA] Reduce the amount of XP bottles given when scrapping enchanted items"
Two parts:
- Reduce the actual quantity.  Fishing farms would be way to OP.  Make the factor configurable so pack owners can tune.
- Change the scrap value of XP bottles to Poor rather than the current Standard.  XP bottles themselves become too good a source of scrap when coupled with fish farm automation.

[2015-06-17 12:17] OreCruncher opened #32 "Repair values of scrap are a bit high"
- Scrap repair values on default configuration are too high, and completely devalue using the original tool materials for repairs.
- Make the values configurable so pack authors can tune.

[2015-06-17 12:19] OreCruncher opened #33 "Phyto-Gro infinite recycle loop"
There's an exploit with an infinite cycle of Phyto-Gro (and similarly, Rich Phyto-Gro):
`1 Pulverized Charcoal, 1 Niter, 1 Slag` makes 32 Phyto-Gro,
and Thermal Recycler uses the
`2 Sawdust, 1 Niter, 1 Slag -> 8 Phyro-Gro`
recipe to reverse it, so it gives 8 Sawdust, 4 Niter and 4 Slag.
8 Sawdust can be crafted, burned and pulverized again to 1 Pulverized Charcoal,
making this the infinite source

[2015-06-17 12:41] grompe commented on #29
Why? There's no direct use for recycling information if the item doesn't go recycle.

Right now I'd say 5x less. Reducing the scrap value of XP bottles is also a must.

Vanilla fishing rods, bows, mods' tools, weapons and armor.

I'd say 5 times less. Or let it take in account how valuable the original material would be.

Both. Could make it instead reduce the time the chicken will lay the next eg

[2015-06-17 13:07] OreCruncher commented on #29
The diamond an nether star thing is a bug.  Just looked at the code.

As for the asterisk the item does have scrap value, it's just that it cannot be directly inserted into the recycler.  If the item gets scrapped as a component the scrap value does have bearing on what type of scrap is produced.  For example, if an Iron Sword is scrapped the components are 2 Iron Ingots and 1 Stick.  The Iron Ing

[2015-06-17 13:08] OreCruncher opened #34 "Diamond and nether star drops from Scrap Boxes are unusable"
Sometimes the damage on diamonds and nether stars  which are dropped from Scrap Boxes are non-zero which makes them unusable.

[2015-06-17 13:16] OreCruncher opened #35 "[v0.3.9.4ALPHA] Egg production from chickens using worms is a bit too high"
Suggestions for tempering:
- Reduce number of eggs given
- Have a time interval between feedings
- Worms decrease the next egg lay cycle of the chicken rather than give extra eggs.

At the moment I am inclined to do the last one.

[2015-06-17 13:23] grompe commented on #29
So those items' scrap value is only relevant when looked at in the result section in the Scrap Assessor.

The solution is simple: let the item go in, but refuse to process with a sign and a description like ones you have now.

[2015-06-17 13:26] OreCruncher commented on #29
As for the Phyto-gro situation, my thought was to analyze the original recipe output.  I think it could be reasonably assumed that if one recipe has stackSize of 8, and the other 32, the one with 32 is more expensive and should be the recipe.

This still isn't perfect, though.  For example, let's say that 32 Phyto recipe used a diamond instead of charcoal.  The player could make a bunch of Phyto u

[2015-06-17 13:31] grompe commented on #29
Yep, that should be good enough. We cannot assume about all the mods, but the reason I mention this particular recipe is because it's in the requried one, Thermal Expansion. =)

[2015-06-17 13:37] OreCruncher commented on #29
I will have to think on allowing the item going in.  Assuming I did this I could but the machine into a Jammed state.   Just that in this case it is jammed at the source and not at the output.

[2015-06-17 13:39] grompe commented on #29
Right, allow this behavior for Scrap Assessor only?

[2015-06-17 14:34] OreCruncher commented on #29
Not sure yet.  Definately for the Assessor - just wondering if it would be interesting to apply to the recycler as well.

[2015-06-17 19:03] OreCruncher opened #36 "Missing text for "achievement.lottowinner""
Text is missing for the achievement "Lotto Winner!"

[2015-06-17 19:13] OreCruncher commented on #35
New behavior:
- If the chicken is a child, it will be made into an adult.
- If the chicken is an adult, the egg laying timer will be decreased by a random amount.  Keep smacking the chicken with worms to get eggs.
- Only one egg will be laid.

[2015-06-17 19:16] OreCruncher commented on #29
Just noticed something about the scrap repair values.  If I were to reduce the defaults to 20% of the current values those numbers would be where I started with the feature. :)  I bumped up because it seemed to be too low.  Still, I think it needs tweaking.

[2015-06-17 19:22] OreCruncher commented on #32
Fix is to reduce the amount repaired by 80%.

[2015-06-17 22:14] OreCruncher opened #37 "Damaged items have incorrect scrap value"
If an item is damaged the scrap value will be interpreted as "standard".  This applies to things like tools, armor, etc - stuff that can be damaged and do not have a sub-type.

[2015-06-17 23:18] OreCruncher opened #38 "[Enhancement] Thermal Recycler have the same configurability as TE machines"
Allow for augments, auto ejection, side configuration, etc. like other Thermal Expansion machines.

[2015-06-17 23:20] OreCruncher opened #39 "[Enhancement] The asterisk after Scrap Value in tooltips not fully understood"
The asterisk on Scrap Value in WAILA and tooltip display is not clear.  Suggested getting rid of asterisk and modifying machine behavior to accept the item but give an indication that it will not be processed.  For example, putting the machine a Jammed state.

[2015-06-17 23:21] OreCruncher commented on #29
The issues outlined in this entry have been split into separate issues to be tracked/handled.  As such I am going to close this entry.  If there is something missing go ahead and add as a separate entry.

Thanks for the input.  I appreciate it.

[2015-06-17 23:21] #29 closed, assigned to nobody

[2015-06-18 02:41] OreCruncher commented on #37
Fixed.

[2015-06-18 02:41] #37 closed, assigned to nobody

[2015-06-18 02:41] OreCruncher commented on #36
Fixed.

[2015-06-18 02:41] #36 closed, assigned to OreCruncher

[2015-06-18 02:42] OreCruncher commented on #35
Fixed.

[2015-06-18 02:42] #35 closed, assigned to OreCruncher

[2015-06-18 02:42] OreCruncher commented on #34
Fixed.

[2015-06-18 02:42] #34 closed, assigned to OreCruncher

[2015-06-18 02:42] OreCruncher commented on #33
Fixed.

[2015-06-18 02:42] #33 closed, assigned to OreCruncher

[2015-06-18 02:42] OreCruncher commented on #32
Fixed.

[2015-06-18 02:42] #32 closed, assigned to OreCruncher

[2015-06-18 02:42] OreCruncher commented on #31
Fixed.

[2015-06-18 02:42] #31 closed, assigned to OreCruncher

[2015-06-18 02:43] OreCruncher commented on #30
Fixed.

[2015-06-18 02:43] #30 closed, assigned to OreCruncher

[2015-06-18 02:54] grompe commented on #29
Great to see this mod improves! If it's more convenient for you, I will put separate points in separate issues from now on.

A little suggestion on handling, you may want to close issues with commit message by including text like
`closes #31` in it, it will also connect each issue to code that fixed it.

[2015-06-18 03:07] grompe opened #40 "Textures"
I think the mod needs better block and item textures. I could draw something nice. What do you think?

[2015-06-18 04:19] OreCruncher commented on #40
The textures definitely need help.  I do software, not art. :)  If you have ideas forward them on.

[2015-06-18 08:49] grompe commented on #40
How's this for the Recycler?

![](http://i.imgur.com/dLdh5qS.gif)

[2015-06-18 11:38] OreCruncher commented on #40
Active face?  Looks real nice!

[2015-06-18 12:07] grompe commented on #40
Made some more.
![](http://i.imgur.com/cWZPWCQ.png)

[2015-06-18 12:32] OreCruncher commented on #40
So much better than what I have.  Which is the forth from the the left?

[2015-06-18 12:49] grompe commented on #40
It's front face for the Scrap Assessor =)

Hmm, "pile of rubble" block will be tricky to improve as it is rendered like wheat, not very convincing for rubble.

[2015-06-18 12:53] OreCruncher commented on #40
I picked it because it was easy - it takes a 2D shape and kinda makes it 3D in the world.  As mentioned I am not an artist. :)  Ideally I was hoping for something that looked like a pile of rocks.  If you could do something like that I can change how the thing is rendered.

EDIT: Scrap Accessor - the icon logic will need to be updated to take into account a face.  Not a big deal - I do like the te

[2015-06-18 13:19] grompe commented on #40
Here's the textures: (temp link removed)

Machine block side, bottom and top are exactly the same as Thermal Expansion, so if possible, you could reuse TE textures instead of the copy.

I couldn't think anything better for the Composter than a block with holes.

Will have to think about the pile of rubble.

[2015-06-18 13:25] OreCruncher commented on #40
Thank you!  I can't tell you how thrilled I am with you doing this.  I will work on integrating today.  I would like to get into the pack before I do a BETA release.

On the rubble, I did googling of stalagmites for Minecraft and it seems the prefer method for rendering is sapling (essentially an X).  Don't interpret this as me being hung up on stalagmites. :)

[2015-06-18 13:32] grompe commented on #40
Awesome. =)

Yes, indeed, a cross texture makes more sense for the rubble. Will see what I can do and test on saplings =)

[2015-06-18 14:29] grompe commented on #40
Attempting with this texture: ![](http://i.imgur.com/75zVklD.png)

[![](http://i.imgur.com/2aWANzll.png)](http://i.imgur.com/2aWANzl.png)

I guess that's an improvement. Feel free to use if you like.

[2015-06-18 15:52] OreCruncher commented on #40
Yes, it looks better.

[2015-06-19 00:05] Mazzelfassel commented on #18
I can do german translation.

[2015-06-19 00:42] OreCruncher commented on #18
That would be nice!

[2015-06-19 01:50] OreCruncher commented on #40
Should have all the textures as well as code changes to support (like the Jammed face on the recycler).  Let me know what you think.

[2015-06-19 06:16] grompe commented on #40
This looks great! Now I will enjoy playing this mod even more!

I noticed that Scrap Assessor has top texture of a crafting table. This might be confusing. Do you want it to have a specific top texture? Same goes for the Composter, which still has crate texture for top and bottom face. I can make some new top textures for those machines.

[2015-06-19 06:34] grompe opened #41 "[Enhancement] Decomposition Core doesn't improve processing of certain items"
I noticed what is a bit odd, that items which don't split into components always get scrapped to same items, with same chances, regardless of Decomposition Core present in the upgrade slot:
50% lost, 1.5% current level scrap (if any), 0.5% higher level scrap, rest — debris.

Is this intended?

[2015-06-19 07:01] grompe opened #42 "[Enhancement] Increase worm drop chance when digging grass under the rain"
Because more fun. Decrease regular drop chance to balance.

[2015-06-19 10:38] OreCruncher commented on #40
Composter I was thinking about having a top surface that looks like dirt or something similar.  Scrap Assessor - not sure what would be a good top.  I thought about having just the normal machine top, but it doesn't feel right.  I imagine the Assessor as being something similar to a worktable.

[2015-06-19 10:40] OreCruncher commented on #41
Yes.  An item that doesn't have component parts gets scrapped as if there wasn't a core inside.  Currently it is working as intended.  I do want to change this, but right now it would require changes in sensitive areas.

[2015-06-19 10:41] OreCruncher commented on #42
This is true.  Hadn't thought of this. :)

[2015-06-19 12:36] grompe commented on #40
It's not really a crafting table though, nothing is crafted there. How about ![this](http://i.imgur.com/EHmxpqJ.png) for Assessor top texture?

[2015-06-19 12:44] grompe commented on #40
Composter top looking like dirt? Green and brown. Got it. ![](http://i.imgur.com/1Y5fhHZ.png)

[2015-06-19 12:49] grompe commented on #41
Small addition: presence of the core actually slows down the process in such case. Which brings a thought: what if certain results are best achieved with certain level of Core?

[2015-06-19 13:36] OreCruncher commented on #40
Those look good!

[2015-06-19 13:39] OreCruncher commented on #41
Yes, it does.  A recycler running without a core (straight out scrap mode) is twice as fast as one with a decomp core.  Also, a recycler with an extraction core is about twice as slow as a decomp core.

As for differing results that is why there are 5 levels of core: Basic, Hardened, Reinforced, Resonant, and Ethereal.  Each level of core increases the keep chance and reduces the dust chance of a

[2015-06-19 14:21] OreCruncher opened #43 "[Enhancement] Add village worldgen"
Instead of adding a special villager or two, add Vending Machines in admin mode that sell items to the player in exchange for stuff.

[2015-06-19 15:28] OreCruncher opened #44 "Machines won't drop if mined with Iron tools..."
Currently diamond or better tools are required to successfully drop a machine when broken.  Should be changed since the quality of the tool has no real bearing on Thermal Recycling game play.

[2015-06-19 18:07] OreCruncher commented on #39
Tooltip will no longer show an asterisk.  The Thermal Recycler and Scrap Assessor will accept all items into the INPUT slot.  However, if it is unable to process the machine will transition to a jammed state.  It will stay in that state until cleared by the player.

[2015-06-19 22:10] OreCruncher commented on #44
Released

[2015-06-19 22:10] #44 closed, assigned to OreCruncher

[2015-06-19 22:10] OreCruncher commented on #42
Released

[2015-06-19 22:10] #42 closed, assigned to OreCruncher

[2015-06-19 22:10] OreCruncher commented on #39
Released

[2015-06-19 22:10] #39 closed, assigned to OreCruncher

[2015-06-20 14:01] OreCruncher opened #46 "[Enhancement] Balance crafting recipes!"
I need your input on the crafting recipes in the mod.  I have been thinking for some time that the Thermal Recycler and base Decomp core recipes are bit expensive and needs adjustment.  I was wondering what your thoughts on this are and whether any of the other recipes need tweaking.

[2015-06-21 15:34] OreCruncher commented on #40
I believe all the textures were updated, so I am going to close.  Thanks Grom!

[2015-06-21 15:34] #40 closed, assigned to nobody

[2015-06-23 17:27] OreCruncher opened #47 "[Enhancement] Register scrap/boxes for Forestry Crating"
Register scrap and scrap boxes with Forestry so they can be crated in a Carpenter.

[2015-06-23 22:39] #47 closed, assigned to OreCruncher

[2015-06-23 22:39] #43 closed, assigned to OreCruncher

[2015-06-24 01:35] OreCruncher opened #48 "Some modded items are rotated 90 degrees in Vending inventory"
Some items when displayed in the world within a Vending Machine are rotated 90 degrees so you see the items edge on.

[2015-06-24 19:28] OreCruncher opened #49 "Problem parsing ""

[2015-06-24 19:29] OreCruncher opened #50 "[ALPHA] Problem parsing "ALPHA" in version string"
Game crashes trying to parse a version string containing "ALPHA":

java.lang.NumberFormatException: For input string: "1ALPHA"

[code]

[2015-06-24 19:30] #49 closed, assigned to nobody

[2015-06-24 19:41] OreCruncher opened #51 "[ALPHA] Error registering Forestry crates"
Crash when attempting to register Forestry crates:

[12:31:33] [Client thread/WARN] [FML/recycling]: \* Illegal extra prefix recycling for name recycling:cratedSuperiorScrapBox, invalid registry invocation/invalid name?
[12:31:33] [Client thread/WARN] [FML/recycling]: \*  at cpw.mods.fml.common.registry.GameData.registerItem(GameData.java:805)
[12:31:33] [Client thread/WARN] [FML/recycling]: \*  a

[2015-06-24 19:54] OreCruncher opened #52 "Startup crash with BuildCraft 7.0.12...."
Report from OpenEye:

http://openeye.openmods.info/crashes/66222fdd4d17bb1132c7969c22572f3c

Preliminary thought is that they moved the pipe gate item to a different mod signature.

[2015-06-24 20:12] OreCruncher commented on #48
Released in v0.4.1.1ALPHA

[2015-06-24 20:12] #48 closed, assigned to OreCruncher

[2015-06-24 20:13] OreCruncher commented on #51
Released in v0.4.1.1ALPHA

[2015-06-24 20:13] #51 closed, assigned to OreCruncher

[2015-06-24 20:13] OreCruncher commented on #50
Released in v0.4.1.1ALPHA

[2015-06-24 20:13] #50 closed, assigned to OreCruncher

[2015-06-25 15:19] OreCruncher opened #53 "[Enhancement] Config option to change where Waila information is inserted"
Currently Waila information is added as part of the BODY.  Add config option to allow a modpack author to specify displaying in the HEAD or TAIL as well as BODY sections.

[2015-06-26 02:39] OreCruncher commented on #53
Release v0.4.1.2ALPHA

[2015-06-26 02:39] #53 closed, assigned to OreCruncher

[2015-06-26 02:39] OreCruncher commented on #52
Release v0.4.1.2ALPHA

[2015-06-26 02:39] #52 closed, assigned to OreCruncher

[2015-06-26 17:10] OreCruncher opened #54 "OpenEye: Someone set the worm drop chance to 0"
When the worm drop chance is set to 0 it will cause a crash when a grass block is broke.

[2015-06-26 17:35] OreCruncher commented on #54
Released v0.4.1.3

[2015-06-26 17:35] #54 closed, assigned to OreCruncher

[2015-06-26 21:37] OreCruncher opened #55 "[Enhancement] Have Thermal Recycling take into account MineTweaked recipes"
MineTweaker applies scripts during server instance start, which is after the time Thermal Recycling decomposes the Forge recipe list.  The startup process of Thermal Recycling has to be changed so that the recipe decomposition takes place _after_ the MineTweaker scripts have run.

[2015-06-27 04:28] #55 closed, assigned to OreCruncher

[2015-06-28 10:05] sciguyryan opened #56 "Interesting Decomposition Result - Amber Bearing Stone"
Hey there.

I thought I would leave this one here. Attempting to decompose amber bearing stone gives an interesting result: http://i.imgur.com/X41AnYu.png

It seems to be as the result of Project E (EE3 may also be affected?) since the philosophers stone gives a smelting recipe for nether amber ore and coal, giving amber bearing stone.

Maybe the solution here is to ignore recipes where items are

[2015-06-28 11:29] OreCruncher commented on #56
That is interesting.  I am going to mark this a bug for now.  Your suggesting is a good one.

[2015-06-28 12:39] OreCruncher commented on #56
Planned changes:
- Automatically scrub items from recipe output that aren't consumed in crafting.  These items are typically tools, like ProjectE's Philosophers stone.
- Capability to ignore a recipe based on the presence of configured output stacks.  For example, ProjectE's Philosopher stone recipes usually take another agent to complete the crafting.  If these recipes were not ignored it would l

[2015-06-28 15:38] OreCruncher commented on #56
Fixed:https://github.com/OreCruncher/ThermalRecycling/releases/tag/v0.4.2.3

[2015-06-28 15:38] #56 closed, assigned to OreCruncher

[2015-06-28 16:20] OreCruncher opened #57 "[OpenEye] Potential crash during initial world gen"
If a world is being initialized for the first time it is possible to experience a crash.  The specific case is when Tinkers is generating oreberry bushes and breaks a Pile of Rubble in the process.  At this point in time during startup the loot table for the Pile of Rubble is empty causing the weighted random routines in Minecraft to bonkers.  They don't like a total weight of 0. :\

The current u

[2015-06-29 02:45] OreCruncher commented on #57
Published release.

[2015-06-29 02:45] spannerman79 commented on #57
Issue still occurs in v0.4.2.4

[code]

[2015-06-29 02:47] OreCruncher commented on #57
Do you have a more complete call stack?

[2015-06-29 02:49] spannerman79 commented on #57
Was using ThermalRecycling-1.7.10-0.4.2.3.jar - not the just updated release to CurseForge.

Please ignore and close - my bad.
Sorry.

[2015-06-29 02:49] OreCruncher commented on #57
lol - try the new one and let me know. :)

[2015-06-29 03:02] #57 closed, assigned to OreCruncher

[2015-06-29 03:13] spannerman79 commented on #57
:ok_hand: all good :smile:

[2015-06-29 03:25] spannerman79 commented on #46
Personally I don't think the recipes are expensive.

The reason being is that if you happen to make 1e64 of a single item via AE2 then you have resources to burn (basically).  If you want those resources back then you need to put at least something substantial forward to obtain those resources back for your own screw up lol

ThermalRecycling allows for a player to undo their screw up.  I know its

[2015-06-29 03:59] xirixal opened #58 "Pile of Rubble & Twilight Forest"
Using:
twilightforest-1.7.10-2.3.7
ThermalRecycling-1.7.10-0.4.2.3

The twilight forest is filled with Piles of Rubble!

![2015-06-29_00 57 31](https://cloud.githubusercontent.com/assets/8078759/8400747/0327b8b4-1dfa-11e5-9b28-f3f46e192653.png)

[2015-06-29 04:18] OreCruncher commented on #58
lol - cool!  IIRC ground level for twilight is much less than 64.  I will see what I can do to address.

[2015-06-29 15:36] OreCruncher commented on #58
Fix https://github.com/OreCruncher/ThermalRecycling/releases/tag/v0.4.2.5

[2015-06-29 15:36] #58 closed, assigned to OreCruncher

[2015-06-29 15:42] OreCruncher commented on #46
I did make the Thermal Recycler and Core: Decomposition (Basic) cheaper in a prior build.  I think the remaining items are fine personally.  Thanks for your input.

[2015-06-30 13:39] OreCruncher opened #59 "[OpenEye] Crash when Somnia is installed..."
http://openeye.openmods.info/crashes/b3ca21efed95df8c7280a646e987efcc

Just a guess but it looks like Somnia is not handling an EntityItem with a null world during initialization.  ThermalRecycling uses a template EntityItem that is instantiated during startup in order to handle entity rendering in the Vending Machine block.  As such it does not have a world.

(I should also mention that my client

[2015-07-01 13:48] OreCruncher commented on #46
Closing for now.  Recipes seem to be balanced.

[2015-07-01 13:48] #46 closed, assigned to OreCruncher

[2015-07-02 17:05] OreCruncher opened #60 "[OpenEye] Meta data for vending machine appears to be incorrect"
http://openeye.openmods.info/crashes/f93c2f41ae583844bb93670f350a6803

Masked metadata has a value of 7 which should not be possible in the normal course of things.  Need to add defensive code.

[2015-07-05 16:52] callumerrington commented on #59
This should be fixed as of Somnia build 39 (1.5.0.39). As for MC 1.7.10, I'll release a patch which does the same thing.

[2015-07-05 16:56] OreCruncher commented on #59
Excellent!  Thanks!

[2015-07-11 05:10] seebs opened #61 "Thaumium boots"
ThermalRecycling adds a redstone furnace smelting operation that converts thaumium boots to 5 thaumium ingots.

It takes four ingots to make them.

[2015-07-11 19:15] OreCruncher commented on #61
Fixed v0.4.2.6

[2015-07-11 19:15] #61 closed, assigned to OreCruncher

[2015-07-11 19:15] OreCruncher commented on #60
Fixed v0.4.2.6

[2015-07-11 19:15] #60 closed, assigned to OreCruncher

[2015-07-11 19:15] OreCruncher commented on #59
Fixed v0.4.2.6

[2015-07-11 19:15] #59 closed, assigned to OreCruncher

[2015-07-12 23:25] CorneliusCornbread opened #62 "Game crash with achivements with a only your mod"
I get a crash from your mod whenever I get an achievment from your mod. I do have a resource pack but it hasn't crashed with the resource pack in any other mod.

[2015-07-13 00:20] OreCruncher commented on #62
Can you post the crash report to pastebin and link it here?  Also, what resource pack are you using?

[2015-07-13 04:18] CorneliusCornbread commented on #62
I just figured out it not just this mod. Sorry.

[2015-07-13 12:50] OreCruncher commented on #62
It happens. :)  Let me know if you encounter any more strangeness.

[2015-07-13 12:50] #62 closed, assigned to nobody

[2015-07-15 19:41] OreCruncher opened #63 "Unable to interact with Vending Machine if using top block"
Current interaction is limited to the base of the vending machine.  Though the bounding box extends to the top block, the player cannot interact with the top block.

[2015-07-16 03:55] medsal15 commented on #63
You can even place a block in the top block.

[2015-07-16 13:06] OreCruncher commented on #63
Yep.   Should be address with the same fix.  Essentially I am adding a gag block to the top part of the vending machine.  It is essentially becoming a multiblock structure when placed into the world.

[2015-07-16 20:22] OreCruncher commented on #63
Fixed v0.4.2.7

[2015-07-16 20:22] #63 closed, assigned to OreCruncher

[2015-07-17 17:38] OreCruncher opened #64 "[Enhancement] Control over which dimensions get rubble piles"
Provide a configuration option that allows a modpack author to white/black list dimensions for rubble pile generation.

[2015-07-25 01:22] CorneliusCornbread opened #65 "Problem with agaricraft"
When I use agricraft with you mod with the composter it bone meals the crop holder.

[2015-07-25 13:01] OreCruncher commented on #65
You mean the Agricraft crops?  Are there crops on the sticks?

[2015-07-25 17:34] CorneliusCornbread commented on #65
No it's just the sticks.

[2015-07-25 18:20] OreCruncher commented on #65
What version of Agricraft?

[2015-07-25 18:35] CorneliusCornbread commented on #65
1.7.10 - 1.3.1

[2015-07-25 18:43] OreCruncher commented on #65
This may be an Agricraft issue.  I will check with InfinityRaider.

[2015-07-25 22:40] OreCruncher commented on #65
Marking as a bug for now - still researching.  There are things I can probably do to make the logic behave better.

[2015-07-26 22:35] OreCruncher commented on #65
InfinityRaider believes the problem to be on his end.

[2015-07-28 04:26] Sasikaa opened #66 "[Enhancement] Immersive Engineering Support"
I'm sorry that I'm writing to my request. The Immersive Engineering mod is one thing, Industrial Hemp Fiber. It can produce a lot and do not have time to use. My thought is that it could be something. Whether after incineration, four or more pieces could be one string.

Sorry my BAD english, I'm Hungarian, little speak english, and translate Google Translator... SORRY!!!

4 or MUCH Industrial Hemp

[2015-07-29 08:29] Crumbology opened #67 "[Enhancement] Soylent Green drop from players"
Should drop from players :)

[2015-07-29 12:06] OreCruncher commented on #67
It's on my to-do list. ;)  Also was thinking of adding Soylent Yellow and Red - just not sure of the mechanic as of yet.

[2015-08-01 19:43] hron84 commented on #65
I'd like to hide a light feature request here: could you add agricraft seeds as a green compost? I'd really appreciate this.

[2015-08-01 19:47] hron84 commented on #66
@Sasikaa IIRC currently you can craft a string from a single piece of hemp fiber (in the latest Immersive Engineering). Also, all mod developer appreciate if you mention your **version numbers** in your request, especially for the mod that you reporting bug against.

[2015-08-01 23:43] KevinMatchMOS commented on #18
I can do the pt_BR translation.

[2015-08-05 14:05] OreCruncher opened #68 "[Enhancement] Make Agricraft seeds compostable"
Mark the special seeds from Agricraft as compostable.

[2015-08-05 14:06] OreCruncher commented on #65
Moved the agricraft seeds as compost material to separate entry.  Closing this issue because the root problem is in Agricraft.

[2015-08-05 14:06] #65 closed, assigned to OreCruncher

[2015-08-05 15:34] OreCruncher commented on #67
Publish v0.4.3.1ALPHA

[2015-08-05 15:34] #67 closed, assigned to OreCruncher

[2015-08-05 15:34] OreCruncher commented on #64
Publish v0.4.3.1ALPHA

[2015-08-05 15:34] #64 closed, assigned to OreCruncher

[2015-08-06 02:30] Bomber57 opened #69 "Strange interaction with Progressive Automation"
So for whatever reason, vanilla iron tools, when recycled, produce Wither Iron from Progressive Automation (crafted with a Nether Star) rather than normal iron, which can obviously be a huge issue because you can basically turn iron into the much, much stronger wither iron for free. I believe you can do the same for diamond and get Wither Diamond. I tested with wood and stone tools and didn't get

[2015-08-06 12:32] OreCruncher commented on #69
Can you use Wither Iron to make the mundane iron tools?

EDIT: Also what version of Thermal Recycling are you using?

[2015-08-06 19:05] Bomber57 commented on #69
The Wither Iron makes their respective Wither Iron tools, and in a smeltery will smelt down into Molten Wither Iron and do much the same.

I am using the most recent release version,  0.4.2.7 of Thermal Recycling.

[2015-08-06 20:22] OreCruncher commented on #69
Actually the recipe makes an enchanted Iron Pick that has a special name.  Not sure what I can do at the moment, but I will think on it.

[2015-08-08 13:15] pip69 opened #70 "[Enhancement] Enable Server Vending Machines for single player"
As the title, I was hoping to be able to use the vending machines in a modpack, but single player counts as an op even if some one else made and locked the VM.

Maybe a config option so that on single player, unless you are in creative, you are able to use a Server Shop as an actual server shop.  Or maybe after the lock is used on it, the only way to access it is with a lock, other wise it counts

[2015-08-08 16:02] OreCruncher commented on #70
Not quite understanding.  Anyone that is op/creative mode can open up a vending machine created by world gen or in server shop mode.  In my testing in a creative world I set my gamemode to 0 it opens as if a regular player opened it.

Note that an op/creative player can shift-right click a vending machine and it will open as if the player is going to trade.

[2015-08-08 16:42] pip69 commented on #70
Ignore me, I hadn't fully tested.  I had only checked it while being in creative.
It works exactly as I was hoping it would.
At least you helped me solve my problem, thanks

[2015-08-08 19:08] OreCruncher commented on #70
:)

[2015-08-08 19:08] #70 closed, assigned to nobody

[2015-08-09 15:11] OreCruncher commented on #69
Fix is to process recipes that have vanilla input and output prior to processing modded recipes.  Once the vanilla recipe is registered the modded recipe will not register because the vanilla one exists.  Note that Minetweaker scripts can modify this behavior by registering recipes FIRST.

The impact of this is that the pickaxe created using Wither Iron will be scrapped as if it were an enchanted

[2015-08-09 15:38] OreCruncher commented on #69
In release v0.4.3.2ALPHA

[2015-08-09 15:38] #69 closed, assigned to OreCruncher

[2015-08-11 17:05] OreCruncher commented on #68
Been looking at this.  Not sure if I want to make the seeds compostable.  I will keep this entry around for the moment - I may change my mind.

[2015-08-12 19:39] Staegrin opened #71 "Diamond sword recycling"
So just updated to the latest version and doing some testing. As I was looking for recipes I found that Diamond Swords only recycle into 1 diamond instead of the expected 2. Just making sure if it's a bug or an error.
![2015-08-12_21 32 11](https://cloud.githubusercontent.com/assets/8494635/9234694/a4051070-413a-11e5-95dd-8445de338391.png)

[2015-08-12 19:48] OreCruncher commented on #71
Yeah, its a bug.  By the looks it's been there awhile. :)

[2015-08-20 00:01] GarradStacey opened #72 "ThermalRecycling 0.4.3.3 - Unable to use extraction core"
I'm unable to use the extraction core on scrapboxes. Tested with all varieties of scrapboxes. Can extract soul sand (one of the new additions) without issue.

![image](https://cloud.githubusercontent.com/assets/2777008/9372484/faca1e18-46d6-11e5-884e-1b1ce6413878.png)

[2015-08-20 12:26] OreCruncher commented on #72
Released v0.4.3.4

[2015-08-20 12:26] #72 closed, assigned to OreCruncher

[2015-08-20 12:26] OreCruncher commented on #71
Released v0.4.3.4

[2015-08-20 12:26] #71 closed, assigned to OreCruncher

[2015-08-20 12:26] OreCruncher commented on #66
Released v0.4.3.4

[2015-08-20 12:26] #66 closed, assigned to OreCruncher

[2015-08-26 08:03] Joscrama commented on #18
Hello, i'm belgian and my motherlanguage is dutch, so if you want my help translating between dutch and english, i could be your guy.
Btw, you will have to tell me what i will have to translate, because i never did this kind of work, if necessary, i can give you my e-mail.

[2015-08-26 12:31] OreCruncher commented on #18
That would be great!  Thanks!

[2015-08-26 14:47] Joscrama commented on #18
could you tell me where i can find the correct file that needs translating, because i never worked with github before

[2015-08-26 14:55] OreCruncher commented on #18
The source English file can be found here: https://github.com/OreCruncher/ThermalRecycling/blob/master/src/main/resources/assets/recycling/lang/en_US.lang
1. Copy the file into a new file and translate the text after the "=".
2. Name the file appropriately and put it into the lang directory where the English translation is found.  In this case it would be "nl_BE.lang" for "Dutch/Belgium".  (How cl

[2015-08-28 11:07] Joscrama commented on #18
http://pastebin.com/gpNKGAk9
Here is the link to the pastebin containing the translation, I did my best translating it and i hope it will be useful for you. If you ever need my help to translate other things between dutch and english, i will be happy to help out

[2015-08-28 11:57] OreCruncher commented on #18
Thank you!

[2015-09-01 07:29] medsal15 opened #73 "Crash with Dragon API"
---- Minecraft Crash Report ----
// Don't be sad, have a hug! <3

Time: 01.09.15 09:25
Description: Ticking block entity

java.lang.NoSuchMethodError: net.minecraft.tileentity.TileEntity.updateEntity()V
    at net.minecraft.tileentity.TileEntity.updateEntity_DAPIRelay(TileEntity.java)
    at net.minecraft.world.World.func_72939_s(World.java:1939)
    at net.minecraft.world.WorldServer.func_72939_s

[2015-09-01 12:23] OreCruncher commented on #73
Can you post the log on pastebin and provide a link?  At the moment it may be the DragonAPI:

java.lang.NoSuchMethodError: net.minecraft.tileentity.TileEntity.updateEntity()V

[2015-09-01 13:51] medsal15 commented on #73
Here it is. Pastebin couldn't handle the 700'000 lines. Paste.ee had the same problem.
https://drive.google.com/file/d/0B35nFaoZqlWJZWQtTHd5S21MYk0/view?usp=sharing

[2015-09-01 14:08] OreCruncher commented on #73
The log provided by the pastebin is the same error, but the block being ticked is different.  Took a look at Reika's issues and it appears it was reported.  Find a link here: https://github.com/ReikaKalseki/Reika_Mods_Issues/issues/216.  Based on Reika's comment update DragonAPI to v8a.

[2015-09-02 15:18] OreCruncher commented on #73
Further update - it is fixed in v8c of the API.  Closing this defect. :)

[2015-09-02 15:18] #73 closed, assigned to nobody

[2015-09-04 02:36] OreCruncher commented on #18
Thanks!  In terms of Soylent Green, Red, and Yellow, it is named after the Soylent Corporation in the movie.  So "Soylent" could be considered a "proper" word and may not need translation.

[2015-09-04 10:00] Joscrama commented on #18
thanks, i was already having trouble with that word

2015-09-04 4:36 GMT+02:00 OreCruncher notifications@github.com:

[2015-09-04 13:05] 3TUSK commented on #18
@OreCruncher Well I just use what they said in their advertisement in that movie. That name sounds very high-tech so that it's kinda an irony thing I believe.

[2015-09-13 01:54] zhs2 opened #75 "[Enhancement] Use Forge Ore Dictionary to assign scrap values"
Right now I notice that a lot of like items get scrapped at a standard or superior value because they're hardcoded to be so in the mod (ex: Thermal Expansion ores, ingots, dusts) but anything alike receives a hard shaft with a scrap value of none (ex: ores, ingots, dusts from TCon, Foundry, FSP, Galacticraft, etc.) Ore Dictionary support for less annoyance and a reduced headache in cross-mod inter

[2015-09-13 02:42] OreCruncher commented on #75
I understand what you are saying.  When I put in mod support I review the items, see how they are used in recipes, etc. to determine what value is placed on them.  I have come across items that have Forge dictionary equivalents, but in the context of the mod and recipes can be a bit OP if I allowed them to have equivalent scrap values.  Because of this and the nature of my mod I decided to be more

[2015-09-13 05:44] zhs2 commented on #75
Base mine-able only resources (e.g. metals that turn into ingots into stuff) are a pretty good start at any rate, especially those found in large tech mods that a lot of them share (and generally have cloud-based generations of eight everywhere underground). I know the quality of most Minecraft items, especially from smaller mods, can vary wildly though :)

[2015-09-13 22:54] OreCruncher commented on #75
Initial ALPHA release available: https://github.com/OreCruncher/ThermalRecycling/releases/tag/v1.0.2.0ALPHA

[2015-09-14 21:12] OreCruncher opened #76 "OpenEye: NPE in handling fluid sync with Composter"
http://openeye.openmods.info/crashes/5c6ad12219dec5273b90b20134171d76

Not exactly sure how this can happen.  Need to add some defensive code.

[2015-09-18 21:56] OreCruncher commented on #76
Released in v1.0.2.1ALPHA: https://github.com/OreCruncher/ThermalRecycling/releases/tag/v1.0.2.1ALPHA

[2015-09-26 18:43] OreCruncher commented on #76
Released v1.0.2.2

[2015-09-26 18:43] #76 closed, assigned to OreCruncher

[2015-09-26 18:43] OreCruncher commented on #75
Released v1.0.2.2

[2015-09-26 18:43] #75 closed, assigned to OreCruncher

[2015-09-26 20:25] kaikue opened #77 "Repairing an energy cell with scrap gives a creative energy cell"
![2015-09-26_16 17 15](https://cloud.githubusercontent.com/assets/2455512/10119705/e965927c-646a-11e5-8968-beacaccf81ee.png)

This also happens with capacitors.

[2015-09-26 20:46] OreCruncher commented on #77
That's....interesting.  Thanks.

[2015-09-26 21:17] OreCruncher commented on #77
Released v1.0.2.3 http://minecraft.curseforge.com/mc-mods/229666-thermal-recycling/files

This is an important fix to pick up.  If updating is not possible it is recommended that the anvil repair feature be disabled in the config.

[2015-09-26 21:17] #77 closed, assigned to OreCruncher

[2015-09-27 18:07] OreCruncher opened #78 "[OpenEye] NPE in LRU cache lookup"
http://openeye.openmods.info/crashes/2a3dbb3f3c8add9a0aa7143df3a22042

[2015-09-29 20:58] OreCruncher commented on #78
Fixed v1.0.2.4: http://minecraft.curseforge.com/mc-mods/229666-thermal-recycling/files/2259960

[2015-09-29 20:58] #78 closed, assigned to OreCruncher

[2015-10-07 17:39] NotGyro opened #79 "[Enhancement] Configuration for tooltips"
I'm not really fond of the idea of having scrap values show up in the tooltips of every single item in the game, when I'm not usually going to be using recyclers. Could the tooltips perhaps have a config setting to be disabled all together, or to only show up inside of your blocks' inventories?

[2015-10-07 17:53] OreCruncher commented on #79
Set the following in the recycling.cfg file:

B:"Enable Tooltips"=false

[2015-10-07 19:49] NotGyro commented on #79
Oh man, I went looking for it. I just must not have seen it the first time. Sorry!

[2015-10-07 19:49] #79 closed, assigned to nobody

[2015-10-07 20:06] OreCruncher commented on #79
No worries.  There are a lot of options in the config file and it isn't surprising it was over looked. :)

[2015-10-10 05:49] mrammy opened #80 "Waila tooltip seems incorrect for the vending machine"
It appears as a machine block and an unlocalized name. The bottom of the block appears to be fine and show the proper rendering
top:
![](http://i.imgur.com/tn0dhfo.png)
bottom:
![](http://i.imgur.com/DP8Z5R3.png)

Am I correct in assuming these should be the same?

[2015-10-10 11:03] OreCruncher commented on #80
No, actually they are different blocks.  The top block is a gag block that is invisible.  Regardless, this should be easy to address.  Thanks for reporting.

What version of Waila and Thermal Recycling are you using?

[2015-10-10 13:32] mrammy commented on #80
Waila 1.5.10 and Thermal Recycling 1.0.2.4 from Curse. I meant same as in same tooltip not the same block sorry if there was any misinformation I contributed there.

[2015-10-10 19:25] OreCruncher commented on #80
Interesting...using 1.5.10 as well and my BETA build.  I don't see the problem. Hmm.

EDIT:  What are the other Waila related add-ons that you have installed?

EDIT2: There is special code in the TR Waila handler to proxy out the Vending Machine if the player is looking at the top vending block.  Do you have a config item set somewhere that disables this behavior?  Another example of this is how W

[2015-10-18 13:21] Goju-Sulfam opened #81 "Vending Machine doesn't display some items"
(English is not my native language, sorry for inconveniences)

Some item are not shown from the exterior of the machine, but the quantities are shown correctly. Its seem to doesn't concern thing that can be placed in the world (blocks, wire, etc) but only some items. The problem persist across restart of the server or of the game, and it's not related to resource pack.

![2015-10-18_14 28 55](http

[2015-10-18 13:29] OreCruncher commented on #81
When you say it isn't the resource pack I assume you have tried it with just the regular vanilla textures?

Also:
- What version of Forge are you using?
- Have you tried a newer version of Thermal Recycling?  In a subsequent version I changed the rendering logic to use the Item Frame item rendering and it may help.

[2015-10-18 13:40] Goju-Sulfam commented on #81
Yes, I have tested with the default resource pack and it's the same result, i have just don't take screenshot.

I play with Resonant Rise 1.7.10, the last release in date. It's contain TR version 0.3.9.7 and forge 10.13.4.1448 on the server i own. I will test with a newer version in single player when i have time to do.

[2015-10-18 13:44] OreCruncher commented on #81
Thanks for the update.

Generally, though, the rendering of the items is handled by Forge/Minecraft/the mod.  The Vending Machine logic just tells where the item should be rendered.

Based on your screen shots the Pam's HarvestCraft items demonstrate the issue.  I will see if I can replicate on my end.

[2015-10-18 21:23] mrammy opened #82 "[Enhancement] Forestry 4 Compatibility"
If you could update your Forestry plugin to work with 4.0.10. I would be very grateful. Preferably you would add a version check for stable 3.6.11 or stable 4.0.10 and add recipes based on which version the player had installed.

http://hastebin.com/eqibiyicej.vbs

[2015-10-18 23:00] OreCruncher commented on #82
It's on my list.  At the moment Forestry is going through some internal upheaval and I am waiting for it to settle a bit.

[2015-10-19 05:15] mrammy opened #83 "[Enhancement] Create log in logs directory"
Quick suggestion. Would it be possible to have the log file in the logs directory instead of the main folder? It would really help clean up whats starting to be a really messy main instance folder for me.

[2015-10-19 11:41] OreCruncher commented on #83
That's on my list, too. :)

[2015-10-19 12:29] OreCruncher commented on #82
Released BETA: http://minecraft.curseforge.com/projects/thermal-recycling/files/2263121

[2015-10-19 12:29] #82 closed, assigned to OreCruncher

[2015-10-19 12:29] OreCruncher commented on #83
Released BETA: http://minecraft.curseforge.com/projects/thermal-recycling/files/2263121

[2015-10-19 12:29] #83 closed, assigned to OreCruncher

[2015-10-19 12:30] OreCruncher commented on #80
Any further information related to my questions above? :)

[2015-10-19 12:32] OreCruncher commented on #81
I cannot replicate the issue.  Try the latest BETA and let me know.

[2015-10-19 12:47] Goju-Sulfam commented on #81
I have just tested with 1.0.2.4 (last version from curse) and the vending machine seem to work correctly, i think the resonant rise team need to upgrade the version.

[2015-10-19 12:49] OreCruncher commented on #81
Yes, they are a little behind. :)  Nero is aware there are newer versions.  To be fair they are trying to accomplish a lot with the RR pack and they have quite a bit of work on their plate.  Let me know if you find anything else - I appreciate the feedback.

[2015-10-19 12:49] #81 closed, assigned to nobody

[2015-10-19 21:02] mrammy commented on #80
I'm still having a hard time tracking this one down

[2015-10-19 21:41] OreCruncher commented on #80
Do you have a list of Waila add-ons that are installed?  I noticed Harvestability - wondering if there is anything else.

[2015-10-19 22:00] mrammy commented on #80
Are you on IRC or Skype? maybe instant message is a better place to conduct a conversation about this

[2015-10-19 23:00] OreCruncher commented on #80
No, I don't do Skype and I do not have an IRC.  What you could do is paste a link to the client log file generated by Forge.  Should answer a lot of my questions.

[2015-10-20 04:23] mrammy commented on #80
[fml-client-latest.log](https://gist.github.com/mrammy/3a32838387628a7dbfc0) for 1.0.3.4 and 1.0.2.4 separated by "-v1.0.3.4 break"
[waila.cfg](https://gist.github.com/mrammy/94dca00d00414947556c)

before and after pictures of v1.0.3.4 Beta. The actual block still doesn't appear.
![](http://i.imgur.com/x3sdTwQ.png)
![](http://i.imgur.com/EKGNHwh.png)

Could it potentially be NEI related? I'm using

[2015-10-28 15:37] OreCruncher commented on #80
Sorry for not seeing your response sooner.  Apparently I am not getting a notification when you update. :\

Based on the log my mod is not getting a callback from Waila to register it's needs.  This means that my mod is not hooked into Waila, thus it is unable to handle the vending top.  What my mod does is replace the vending top block with the vending bottom for purposes of Waila.

Normally you

[2015-10-29 13:01] mrammy commented on #80
I apologize I thought that was for display of scrap only. It's working now, sorry for all the fuss for basically no reason.

[2015-10-29 13:34] OreCruncher commented on #80
No worries.  This may be indicative of the confusion about the settings.  It may be a good idea to have a separate setting specifically for enable/disable Waila, and a separate one for the scrap.  I am going to reopen to track.

[2015-10-29 13:59] OreCruncher commented on #80
Btw, the `Enable Tooltips` option is the one that governs the display of the "Scrap Value" lines in the Waila HUD.  Setting to false should turn it off.

[2015-10-29 15:12] mrammy commented on #80
Fine with me :). I did want them on just with shift which there's a waila.cfg for. Don't know how that got turned off

[2015-11-11 06:34] OreCruncher opened #84 "[Enhancement] Dump rubble loot table to log file"
Currently there isn't a way of knowing what Thermal Recycling has added to the Rubble loot table, or what Minetweaker scripts may have changed.  Should also include other possible loot tables to make it easier for modpack authors to balance.

[2015-11-18 16:36] ghost commented on #18
Gonna update stuff, but I'm having trouble with RTG Cells: what does RTG stands for?

Is it charge in "to charge" or "the amount of charge"?

[2015-11-18 16:41] OreCruncher commented on #18
Radioisotope Thermoelectric Generator.  RTG is a TLA (three letter acronym); you can find references on Wikipedia.  And it's "the amount of charge".

[2015-11-18 17:02] ghost commented on #18
Thanks for the quick help. The PR is live, and some jokes were adapted to make sense in portuguese and brazilian culture (e.g. PC LOAD LETTER)

[2015-11-27 00:59] DrakoAlcarus opened #87 "Annoying Rubble Stacking"
I keep getting this odd world gen...

<blockquote class="imgur-embed-pub" lang="en" data-id="MR35cGY"><a href="//imgur.com/MR35cGY">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

<blockquote class="imgur-embed-pub" lang="en" data-id="Vo9yNdi"><a href="//imgur.com/Vo9yNdi">View post on imgur.com</a></blockquote><script async src="//s

[2015-11-28 12:06] OreCruncher commented on #87
Does it _always_ stack?  I know that normally it is possible, but rare because of the distribution.

[2015-11-28 14:21] DrakoAlcarus commented on #87
Not always, but it is noticeably frequent. The  screenshots I showed are all in the same ravine, with the mineshaft connected to it.

[2015-11-28 14:22] DrakoAlcarus commented on #87
The world type I have is Biomes o' Plenty, but it may work with regular worlds with the mod kept installed.

[2015-12-04 02:27] DrakoAlcarus commented on #87
Quick question... is rubble supposed to do this?

<blockquote class="imgur-embed-pub" lang="en" data-id="xr7Z7eN"><a href="//imgur.com/xr7Z7eN">Rubble in the Nether</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

I'm beginning to think that Boimes o' plenty may be registering the rubble as a plant, possibly? It seems to be biomes o' plenty that is generati

[2015-12-04 13:39] OreCruncher commented on #87
Yeah.  I suspect that BoP is doing some squirrelly things with world gen.  More specifically, it is triggering and additional Flower gen process.  In Overworld this would cause piles to gen twice, one on top of the other due to world seed.  And it causes these piles to gen in the Nether when normal Vanilla doesn't do this.  To work around the Nether issue you can add the dimension to the rubble pi

[2015-12-04 18:23] DrakoAlcarus commented on #87
I makes me feel good to know how to identify problems in codes and such.

If I make a mod called Thermal Reactors, is it possible you can add compatibility with the blocks in it, and the scrap boxes as modifiers in the Quantum Molecular Entangler (Basically a mass fabricator from IC2)

Unfortunately, I am an amateur modder, and have much to learn.

[2015-12-04 18:31] OreCruncher commented on #87
It's possible.  What I would do on my end is add a support module for this new mod if it detects it as being present, such as what I do for Forestry, EnderIO, etc.  The Thermal Reactors mod could do something similar- if it detects Thermal Recycling as installed it could register the scrap items in it's internal recipes.

This being said, what you probably want to do is create an API so that a mod

[2015-12-04 18:38] DrakoAlcarus commented on #87
Ah, thanks! I will let you know when I make the mod.

Got any surefire ways to learn Java and modding quickly?

[2015-12-04 18:41] OreCruncher commented on #87
Surefire and quickly? I'm afraid there isn't such a thing.  What I would do is start learning Java, and once you are familiar with it then try tackling a simple mod.  Reason is that if you try to learn modding with Forge while trying to learn Java you will quickly reach overload.  Also, if you know Java then you can look at what other folks have done with modding and learn by example.

[2015-12-04 18:50] DrakoAlcarus commented on #87
Alright, thanks!

[2015-12-06 17:15] OreCruncher commented on #80
Posted fix to CurseForge: http://minecraft.curseforge.com/projects/thermal-recycling/files/2269594

[2015-12-06 17:15] #80 closed, assigned to OreCruncher

[2015-12-06 17:16] OreCruncher commented on #87
Posted fix to CurseForge: http://minecraft.curseforge.com/projects/thermal-recycling/files/2269594.  I do think BoP is the root of these issues.  Need to do more investigation.

[2015-12-06 17:16] #87 closed, assigned to OreCruncher

[2015-12-06 17:16] OreCruncher commented on #84
Posted change to CurseForge: http://minecraft.curseforge.com/projects/thermal-recycling/files/2269594

[2015-12-06 17:16] #84 closed, assigned to OreCruncher

[2015-12-09 17:56] OreCruncher opened #88 "[Enhancement] Ability to use wrench to break machine blocks"
Provide similar wrench behavior with Thermal Expansion.

[2015-12-09 18:58] OreCruncher opened #89 "Able to rotate vending machine that is not owned by player"
Using a TE wrench a vending machine can be rotated that does not belong to the player.  Can be seen on vending machines that spawn in villages.  No worries security wise, just can be annoying.

[2015-12-09 19:17] OreCruncher commented on #68
Finally decided to add AgriCraft seeds as BROWN compost.  Anything registered in the OreDictionary as "listAllseed" will be tagged as BROWN compost.

[2015-12-11 14:32] OreCruncher commented on #89
Released 1.0.4.1BETA: http://minecraft.curseforge.com/projects/thermal-recycling/files/2270305

[2015-12-11 14:32] #89 closed, assigned to OreCruncher

[2015-12-11 14:32] OreCruncher commented on #88
Released 1.0.4.1BETA: http://minecraft.curseforge.com/projects/thermal-recycling/files/2270305

[2015-12-11 14:32] #88 closed, assigned to OreCruncher

[2015-12-11 14:32] OreCruncher commented on #68
Released 1.0.4.1BETA: http://minecraft.curseforge.com/projects/thermal-recycling/files/2270305

[2015-12-11 14:32] #68 closed, assigned to OreCruncher

[2015-12-12 00:12] OreCruncher opened #90 "[OpenEye] getLoadedEntityList() a client side only method"
http://openeye.openmods.info/crashes/16b2ef67b91345863ed2fe5a84e77d42

Cannot find the method when running pure server.

[2015-12-15 19:04] OreCruncher commented on #90
Released v1.0.4.2 that contains the fix: http://minecraft.curseforge.com/projects/thermal-recycling/files

[2015-12-15 19:04] #90 closed, assigned to OreCruncher

[2015-12-28 10:28] sciguyryan opened #91 "IC2, MPS Support?"
I'm not sure if these are something you've ever considered but would they be suitable for your supported mods list?

Really enjoying the mod by the way, it has saved my life quite a few times - overcrafting can be a real pain!

[2015-12-28 12:56] OreCruncher commented on #91
I'll add them to the "todo" list.  MPS = Modular Power Suits?

[2015-12-28 18:08] sciguyryan commented on #91
Yeah, that's the one :)

[2015-12-29 20:31] DrakoAlcarus opened #92 "[Enhancment] Irritating Thing with Recycler; + Idea"
All my loot from a dungeon got erased because I accidentally put my portable cell in the machine.

Is it possible you can add some code that checks if a certain item is storing anything, and jams the machine if it is? For example: It will check if the portable Cell is registering any data, and stop the machine if it has any.

It's a good thing this was on a test world, though.

Also, I had an idea

[2015-12-30 02:51] OreCruncher commented on #92
Understand about the portable cell.  Same could be said for things like backpacks.  Problem is that I haven't found a surefire way of handling those things because each mod is different.  I haven't given up on it - just not on the priority list at the moment.

As for the Thermal Centrifuge I thought about adding something similar but haven't decided.  As for collecting destabilized redstone and re

[2016-01-05 21:16] Darkosto opened #93 "Change quantities of item used when scrapping?"
Is it possible to change the number of items consumed when scrapping using minetweaker? For example, I have labeled cobblestone as inferior scrap but it consumes an entire stack to recycle. Is there a line I can enter to change the number it uses to produce scrap?

Thank you :)

[2016-01-06 00:54] OreCruncher commented on #93
There is a way, but it's not perfect.  Here is what you can do:

`ItemDataRegistry.setScrapValue(<minecraft:cobblestone>, SCRAPVALUE_INFERIOR);`
`ItemDataRegistry.setBlockedFromScrapping(<minecraft:cobblestone>, false);`
`RecipeDataRegistry.add(<minecraft:cobblestone> * 64, [<minecraft:cobblestone>]);`

By not perfect the output of the scrap operation is a single piece of cobblestone.  This means

[2016-01-06 02:40] OreCruncher commented on #93
Making a fix so that you can do this in a script:

`ItemDataRegistry.setScrapValue(<minecraft:cobblestone>, SCRAPVALUE_INFERIOR);`
`ItemDataRegistry.setBlockedFromScrapping(<minecraft:cobblestone>, false);`
`RecipeDataRegistry.add(<minecraft:cobblestone> * 64, null);`

This will be in the next BETA drop.

[2016-01-07 03:02] OreCruncher commented on #93
Posted a BETA that includes the change: http://minecraft.curseforge.com/projects/thermal-recycling/files

[2016-01-07 03:02] #93 closed, assigned to OreCruncher

[2016-01-07 03:02] OreCruncher commented on #91
IC2 has been added.  Modular Power Suits still needs to be done.

[2016-01-07 04:57] Darkosto commented on #93
Thank you very much for your help :)

[2016-01-07 07:23] sciguyryan commented on #91
Thank you kindly, that's awesome!

[2016-01-07 18:47] OreCruncher commented on #91
Going to close this one and add a separate entry for MPS.

[2016-01-07 18:47] #91 closed, assigned to OreCruncher

[2016-01-07 18:48] OreCruncher opened #94 "[Enhancement] Modular Powersuits support"
Add native support for Modular Powersuits

[2016-01-12 21:24] mrogaski opened #95 "[1.1.0.4] Inventory tooltip crashing on BCA canister"
After upgrading to 1.1.0.4, we're seeing this when a player opens their inventory while it has a BCA canister.

[code]

Full crash report at https://github.com/AIE-Guild/AIE-Nomads-Modpack/issues/101

[2016-01-12 21:54] OreCruncher commented on #95
I cannot duplicate in my sandbox using BC 7.1.14 and BCA 2.2.5.  I am using Forge 1614 though I cannot imagine Forge being the issue here.  What this error is saying that there is an item in the game that for some reason was not present when Thermal Recycling scanned the the internal item list in Minecraft/Forge.  This occuring in the release version of your pack on Curse?

[2016-01-12 22:17] OreCruncher commented on #95
OK - managed to make it crash with the modpack.  What is interesting is the item is "bcadditions:fuelgasBucket".  It does not show in NEI.  I get it to crash by going into creative mode and clicking the Minecraft search button.  I will keep digging.

[2016-01-12 22:20] mrogaski commented on #95
Yep. we saw it under creative mode.  Let me know if you need any other info.

Thanks!

[2016-01-12 22:24] OreCruncher commented on #95
I don't know much about BCA - is the fuel gas bucket a thing or is it something that is only available via creative?  Reason I ask is that it isn't registered in the item list when Thermal Recycling scans the registered items (thus why there isn't a "profile").

[2016-01-12 23:22] OreCruncher commented on #95
Posted fix to CurseForge.  Should be showing up as soon as they approve it. http://minecraft.curseforge.com/projects/thermal-recycling/files

[2016-01-13 01:32] mrogaski commented on #95
I just tested it and the update successfully prevented the crash.

[2016-01-13 03:05] OreCruncher commented on #95
Cool!

[2016-01-13 03:05] #95 closed, assigned to OreCruncher

[2016-02-01 07:29] Darkosto commented on #93
Hey OreCruncher!

Thank you once again for your assistance. With the latest update on Curse, I cannot seem to have the Thermal Recycler use less than 64 cobblestone per operation. This is currently my Minetweaker file: http://pastebin.com/0xS7D5V0

Could you please help me figure out exactly what I'm doing wrong?

Thank you :)

[2016-02-01 12:25] OreCruncher commented on #93
Yep - that is the way it is working.  The Thermal Recycler is waiting for 64 blocks of cobblestone before it commences operation.  This is the line that is configuring it:

RecipeDataRegistry.add(minecraft:cobblestone *64, null);

If you want to have it consume less, change the 64 to some other value.

[2016-02-01 21:27] Darkosto commented on #93
That's the reason I'm checking my work, I have set that value of 64 to other values and it still consumes the full stack of Cobblestone. I made sure to do a full client restart between value changes and it still takes 64 cobble per operation.

[2016-02-01 22:27] OreCruncher commented on #93
You are running local, right?  Not attaching to a server?

[2016-02-01 22:30] Darkosto commented on #93
That's correct, this is single player. Not on a server.

[2016-02-02 00:16] OreCruncher commented on #93
I tried this script in my sandbox and it is working:

import mods.recycling.ItemDataRegistry;
import mods.recycling.RecipeDataRegistry;

ItemDataRegistry.setScrapValue(minecraft:cobblestone, SCRAPVALUE_INFERIOR);
ItemDataRegistry.setBlockedFromScrapping(minecraft:cobblestone, false);
RecipeDataRegistry.add(minecraft:cobblestone *32, null);

The script you linked to above - this the only script exe

[2016-02-02 05:06] Darkosto commented on #93
For Thermal Recycling? That is correct, I have only that 1 file for the mod. Nothing else should be messing with it.

[2016-02-03 01:39] OreCruncher commented on #93
This is a head scratcher.  Is the modpack available somewhere for download?  It may be one of the other mods messing with things.

[2016-02-03 01:59] Darkosto commented on #93
I can make it available to you, what is your minecraft ign? I'll add you as a private tester for the pack on the ATLauncher

[2016-02-03 02:23] OreCruncher commented on #93
OreCruncher is my ign.  I haven't use the ATLauncher so be patient. :)

[2016-02-03 02:37] Darkosto commented on #93
No worries, just make sure you're signed into the launcher and the modpack "Dawn of the Void" will show up for you on the very bottom. That particular script for recycling may be a bit out of date but it will get you everything you need to test it out.

[2016-02-04 16:55] OreCruncher commented on #93
Just downloaded ATLauncher 3.2.3.1 and it is not showing in the list.  Tried searching for "Dawn of the Void" as well.

[2016-02-04 19:46] Darkosto commented on #93
Are you signed into the launcher?

[2016-02-04 21:53] OreCruncher commented on #93
If you mean did I create an account on the account tab, yes.

EDIT:  Just checked right this second and it is now showing up.

[2016-02-04 23:18] OreCruncher commented on #93
OK - it is the Twilight Forest Large Cobble block that is messing with it.  That recipe takes 64 cobblestone to make one large cobble.  What is happening is that Thermal Recycling is picking the more expensive scrapping recipe in order to avoid infinite resource loops (where you can run an items through the Thermal Recycler and get more than you started with).

What you need to do is tell Thermal

[2016-02-05 08:48] RulerOfCakes commented on #18
Hey, I can create a Korean translation for this if you'd want. I mean it isn't probably necessary, but more translations for more languages can't be bad, right?

[2016-02-05 12:21] OreCruncher commented on #18
I don't mind.  Thanks!

[2016-02-06 06:10] RulerOfCakes commented on #18
http://pastebin.com/kqjd60c8
I'm a github noob, so here's the link to the pastebin thing :P
There were a fair few things which didn't really have a korean translation of it at all, so there may have been some bits which got longer than the original.

[2016-02-08 08:35] HanatakeYurii commented on #18
Hi, have submitted updated French translation .

EDIT: Seems not appearing in Pull Requests, did I get it wrong? Will try again

[2016-02-10 15:23] HanatakeYurii commented on #18
Hi,
This time it seems to be ok. Pull Request is waiting for you ^^

[2016-02-10 15:52] OreCruncher commented on #18
Thanks for your time.  I appreciate it.

[2016-02-11 08:09] HanatakeYurii commented on #18
No problem, glad I can help in any way within my spare time.
I'll do this again when / if more content will be added.

[2016-03-08 03:54] DrakoAlcarus opened #97 "[Enhancement] Add a Blacklist for Vacuum Enchantment"
I keep picking up AE crystal seeds when I hold any of my tools, and it interrupts the growth of the crystals. That's it.

[2016-03-08 04:15] OreCruncher commented on #97
Good point.

[2016-03-08 04:20] DrakoAlcarus commented on #97
Beautiful.

[2016-03-20 02:40] parcel31u opened #98 "Crash with IC2 Classic"
http://pastebin.com/Ae3Q9L2N

[2016-03-20 02:57] Speiger commented on #98
I checkt the code and i am not sure what could cause that....

[2016-03-20 04:01] OreCruncher commented on #98
Looks to be straight forward.  IC2 Classic != IC2 Experimental.  The IC2 changed the names of some of the blocks and items.  What is happening [on this line](https://github.com/OreCruncher/ThermalRecycling/blob/master/src/main/java/org/blockartistry/mod/ThermalRecycling/support/recipe/accessor/IC2AccessorBase.java#L40) is that the mod is not finding the empty cell ItemStack using the given name.

[2016-03-20 14:54] Speiger commented on #98
@OreCruncher even if IC2 Classic is not Exp it does support IC2 Exp items with a fake item that is just a EmptyIcon and no use.... So no thats not the case... And the UnlocalizedName stuff is something differend. If you want a IC2 Item then use the IC2 API.

[2016-03-20 15:50] OreCruncher commented on #98
_sigh_  That string there means something to the logic of Thermal Recycling - has nothing to do really with the unlocalized name.  It's the string item ID in the Forge dictionary.  Have you tried using IC2 Experimental?

[2016-03-20 16:00] Speiger commented on #98
IC2 Classic uses the Unlocalized name for the ForgeRegistry same as IC2 Exp... So yeah thats why i say use the IC2 API for getting items because the field names are the same...

[2016-03-20 16:02] OreCruncher commented on #98
Again, have you tried Experimental?  Back when I developed the mod my intent was to support both versions of IC2.  Then I discovered that they changed how some of the items are named in Experimental, one of those items being cells.  It's why the mod doesn't support Classic.

[2016-03-20 16:07] Speiger commented on #98
I am the IC2 Classic dev... (Even if you know) the thing is i use differend unlocalized name then ic2 Exp.. Unintendet since they changed their system drasticly...

[2016-03-20 16:09] OreCruncher commented on #98
They did.  And if I recall they didn't change the internal mod ID, and they probably should so that we can distinguish between the two versions.  It would make supporting both classic and experimental much easier.

[2016-03-20 16:13] Speiger commented on #98
No they should not change it. There should be a Universal ModID for IC2 and that is IC2. Classic already added a SecondModID that allows you to detect it. But Player does not see a reason to add a Second ModID to IC2 Exp...

[2016-03-20 16:23] OreCruncher commented on #98
So it Experimental a fork of the original IC2 meaning that IC2 classic will continue to evolve as a separate independent mod?

[2016-03-20 16:29] Speiger commented on #98
Both are based on the old IC2 but each version runs into his own version. But classic try to support as much as it can from Exp...
Like a Multivers^^"

[2016-03-22 18:47] Speiger commented on #98
Anyway i suggest you to use the IC2 API because classic uses always a: item.gameRegistry name in his code and i can not change that since whole worlds could be corrupted by that.

[2016-03-22 19:05] OreCruncher commented on #98
Are the Classic and Experimental API the same, or do I need special code to detect which version I am dealing with?

[2016-03-22 19:14] Speiger commented on #98
Nope. IC2Classic supports the IC2Exp API as best as it can. Even fake items from Classic if the item is not added by Classic...

[2016-03-22 19:42] OreCruncher commented on #98
Several things that need to occur:
- [x] Direct support for IC2 Classic
- [x] Use IC2 API for retrieving item info

[2016-03-22 19:54] Speiger commented on #98
Hehehe

[2016-03-22 22:14] OreCruncher commented on #98
How would I go about detecting whether IC2 is Classic or Experimental?

[2016-03-22 22:52] parcel31u commented on #98
I fixed it by disabling IC2 integration in the config for thermal Recycling.

[2016-03-22 23:51] Speiger commented on #98
Ic2 Classic has a Second ModID so you can detect it. But IC2 Exp has no second one... Thanks playerSF for that... He sees no reason for it... (Aka wants a reason)
link: https://github.com/TinyModularThings/IC2Classic/blob/master/src/main/java/ic2/api/info/IC2Classic.java#L76

[2016-04-11 06:16] spannerman79 opened #100 "[BUG] "Cheat" with Thaumcraft + Automagy"
Forge 1614
Thaumcraft-1.7.10-4.2.3.5.jar
Automagy-1.7.10-0.28.2.jar
ThermalRecycling-1.7.10-1.1.0.5.jar

Place any Golem into the Thermal Recycler with a Ethereal decomposition core and you obtain `Automagy:CreativeTool`

This allows someone in creative to upgrade a standard golem to advanced golem ( http://thaumcraft-4.wikia.com/wiki/Golemancy )

There is no crafting recipe for the Thinking cap s

[2016-04-11 12:41] OreCruncher commented on #100
I have seen this with another mod.  Sometimes a recipe can be registered with Forge but not be possible to craft.  The recipes does not show in NEI either.

[2016-06-13 11:37] Pivoslave commented on #18
I'm from Ukraine,my native languages are Russian and Ukrainian. I can help with translating to both this languages.

[2016-08-02 19:47] Darkosto opened #101 "Flashing WAILA When A Lot Of Items Are In A Pack"
Hey OreCruncher,

I've come across a strange issue:
When NEI has a certain number of items, the WAILA tooltip will flash and gets worse the more items are in the pack/NEI. To test this all you need to do is find a chest and put an item into the slot your mouse cursor automatically moves to when the chest is opened, and then type anything into the NEI searchbar (I used "lever". When you open the ch

[2021-04-17 08:26] Dinsorsoos opened #102 "Would love to see this project come back one day"
Apologies for being the wrong place but I just wanted to let you know that this is such a cool concept and I would love to see if come back one day

[2021-04-17 13:46] OreCruncher commented on #102
I think off and on about it.  Challenge is avoiding dupe issues when deconstructing items.

[2021-10-30 07:40] spannerman79 commented on #100
For reference for anyone else that might search, add `Automagy:creativeTool` to Recipe Component Blacklist;

[code]